Repository antipod237/ipc_practice, pull requests merged in 2022-05, with the labels that each got.

#28 Модель для Поставщиков
  backend/erpsystem/core/models.py
  backend/erpsystem/core/suppliers/models.py
  backend/migrations/versions/aa66e2ac397c_.py
Labels: backend

#29 Полномочия
  backend/migrations/versions/0c0a88cb1f49_users_roles_permissions.py
Labels: backend

#35 Ресурс для Договоров
  backend/erpsystem/core/contracts/models.py
  backend/erpsystem/core/contracts/resources.py
  backend/erpsystem/core/contracts/utils.py
  backend/erpsystem/core/models.py
  backend/erpsystem/core/routes.py
  backend/erpsystem/core/suppliers/models.py
  backend/migrations/versions/0c0a88cb1f49_users_roles_permissions.py
  backend/migrations/versions/c6cc9c440371_.py
Labels: backend

#31 Валидация пароля
  backend/erpsystem/core/users/resources.py
  backend/erpsystem/core/users/utils.py
  backend/requirements.txt
Labels: backend

#42 Ошибка при обновлении записи в приложении Договоры
  backend/erpsystem/core/contracts/models.py
  backend/migrations/versions/c6cc9c440371_.py
Labels: bug, backend

#41 Магазины.
  backend/erpsystem/core/models.py
  backend/erpsystem/core/routes.py
  backend/erpsystem/core/stores/models.py
  backend/erpsystem/core/stores/resources.py
  backend/migrations/versions/c81799eaa469_.py
Labels: backend

#45 Номенклатуры и маппинг с договорами
  backend/erpsystem/core/itemsets/models.py
  backend/erpsystem/core/itemsets/resources.py
  backend/erpsystem/core/itemsets/utils.py
  backend/erpsystem/core/models.py
  backend/erpsystem/core/routes.py
  backend/migrations/versions/d87c93d06e00_.py
Labels: backend

#43 Фронт для Договоров
  frontend/src/App.js
  frontend/src/components/Contracts/ContractCreate.js
  frontend/src/components/Contracts/ContractEdit.js
  frontend/src/components/Contracts/ContractList.js
  frontend/src/components/Contracts/ContractShow.js
Labels: frontend

#49 Доделки ресурсов Номенклатур 1
  backend/erpsystem/core/itemsets/models.py
  backend/erpsystem/core/itemsets/resources.py
Labels: backend
